html,
body {
    scroll-behavior: smooth;
}

.page {
    min-height: 100vsh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}